* {
	background-color: black;
	color: white;
	margin: auto;
	text-align: center;
}

h1 {
	display: block;
}

/*button settings */
button {
	display: block;
	padding: 2px;
	border-width: 1px;
}

img {
	border-radius: 360px;
	height: 400px;
	width: 400px;
}

/*The pop up settings */
#begging {
	position: absolute;
	margin-left: 47%;
	margin-top: -15%;
}

#obeying {
	position: absolute;
	margin-left: 46%;
	margin-top: -15%;
}

#denying {
	position: absolute;
	margin-left: 43%;
	margin-top: -15%;
}

#resuming {
	position: absolute;
	margin-left: 38%;
	margin-top: -15%;
}

/*The button settings */
.boc {
	margin-bottom: 5px;
}

#one {
	padding-left: 6px;
	padding-right: 6px;
}

#three {
	padding-left: 3px;
	padding-right: 4px;
}

#four {
	margin-top: 5px;
}
